<div class="frente">
  <nav class="navbar">
    <div class="titulo">
      <a>Dashboard</a>
    </div>
    <button class="boto" type="button">
      Test<a
        ><img src="assets/img/pi.PNG" alt="image" width="16px" height="16px" />
      </a>
    </button>
  </nav>
</div>

<div class="container">
  <div class="tarjetas">
    <div
      class="row row-cols-3"
      [sortablejs]="dashboard"
      *ngFor="let dash of dashboard"
    >
      <div class="col">
        <div class="card" *ngFor="let fleet of dash.tituloFleet">
          <div class="card-body">
            <h6 class="card-title">{{ fleet.name }}</h6>
           
            <div >
            <canvas #Mychart *ngIf="chart.length > 0"></canvas>
            </div>

          </div>
        </div>
      </div>
      <div class="col">
        <div class="card"  *ngFor="let carrier of dash.tituloCarriers">
          <div class="card-body">
            <h6 class="card-title">{{ carrier.name }}</h6>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card" *ngFor="let status of dash.tituloStatus">
          <div class="card-body">
            <h6 class="card-title">{{ status.name }}</h6>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" *ngFor="let expired of dash.tituloExpired">
          <div class="card-body">
            <h6 class="card-title">{{ expired.name }}</h6>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card" *ngFor="let basic of dash.tituloBASIC">
          <div class="card-body">
            <h6 class="card-title">{{ basic.name }}</h6>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card" *ngFor="let rated of dash.tituloRated">
          <div class="card-body">
            <h6 class="card-title">{{ rated.name }}</h6>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" *ngFor="let report of dash.tituloReport">
          <div class="card-body">
            <h6 class="card-title">{{ report.name }}</h6>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="loading">
    <div class="lds-spinner">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</div>
