<div class="frente">
  <nav class="navbar">
    <div class="titulo">
      <a>DMS</a>
    </div>
    <button class="boto" type="button">
      Test<a
        ><img src="assets/img/pi.PNG" alt="image" width="16px" height="16px" />
      </a>
    </button>
  </nav>
</div>

<div class="container">
  <div>
    <tabset>
      <tab heading="Document status">
        <div class="head">
          <div class="titulo1">Search for a Carrier Document</div>
        </div>

        <div class="busqueda">
          <nav class="navbar2">
            <form class="form-inline">
              <input
                class="form-control4"
                type="text"
                placeholder="Carrier name, DOT number"
                aria-label="Search"
                (input)="buscarCarrier($event)"
              />
            </form>
          </nav>
          <div>
            <a class="busqueda1"
              >Search
              <img
                src="assets/img/buscar.jpg"
                alt="image"
                width="12px"
                height="12px"
            /></a>
          </div>
          <div>
            <a class="busqueda2"
              >Remove Filters
              <img
                src="assets/img/deletedos.svg"
                alt="image"
                width="15px"
                height="16px"
              />
            </a>
          </div>
        </div>

        <div
          class="GestorCarrier"
          *ngFor="let habilidade of copyHabilidades; let i = index"
        >
          <div class="Divtitulo">
            <div class="Encabezadotitulo">
              <span>{{ habilidade.titulo }}</span>
            </div>
            <div class="Encabezadotitulo2">
              <a class="usuario">
                <img
                  src="assets/img/person.svg"
                  alt="image"
                  width="19px"
                  height="19px"
              /></a>
              <span>{{ habilidade.contactname | isImagen }}</span>
            </div>
          </div>

          <div class="row">
            <div class="col-4">
              <div class="cuadrado">
                <div class="cuadrado2">
                  <span>Carrier Information</span>
                </div>

                <div class="distribuidor">
                  <div class="dis1">
                    <a> Carrier Address:</a>
                    <a> City and state:</a>
                    <a> Postal code:</a>
                    <a> Dot Number:</a>
                    <a> MC Number:</a>
                    <a> FMCSA Carrier Type:</a>
                    <a> Authority:</a>
                    <a> Insurance:</a>
                  </div>
                  <div class="dis2">
                    <a> {{ habilidade.CarrierAddress }}</a>
                    <a> {{ habilidade.Cityandstate }}</a>
                    <a> {{ habilidade.Postalcode }}</a>
                    <a> {{ habilidade.DOTNumber }}</a>
                    <a> {{ habilidade.MCNumber }}</a>
                    <a> {{ habilidade.FMCSACarrierType }}</a>
                    <a> {{ habilidade.MCAuthority }}</a>
                    <a> {{ habilidade.DOTInsurance }}</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-8">
              <div class="cuadrados">
                <div>Documents</div>
                <div class="verificar">
                  <a class="usuario">
                    <img
                      *ngIf="habilidade.verified == false"
                      src="assets/img/equis3.png"
                      alt="image"
                      width="11px"
                      height="11px"
                    />
                  </a>

                  <a class="usuario">
                    <img
                      *ngIf="habilidade.verified == true"
                      src="assets/img/visto.jpg"
                      alt="image"
                      width="15px"
                      height="14px"
                    />
                  </a>
                  {{
                    habilidade.verified
                      ? 'Documents verified'
                      : 'Documents Not verified'
                  }}
                </div>
              </div>

              <div class="TablaDMS">
                <table>
                  <thead>
                    <tr>
                      <th>Documents Name</th>
                      <th>Request Date</th>
                      <th>Received Date</th>
                      <th>Expiration Date</th>
                      <th>Status</th>
                      <th></th>
                    </tr>
                  </thead>

                  <tr *ngFor="let doc of habilidade.dms; let i = index">
                    <td>
                      <a class="documento"
                        ><img
                          src="assets/img/help.svg"
                          alt="image"
                          width="13px"
                          height="13px" /></a
                      ><span>{{ doc.DocumentsName }}</span>
                    </td>
                    <td>
                      <span>{{ doc.RequestDate }} </span>
                    </td>
                    <td>
                      <span>{{ doc.RequestDate2 }}</span>
                    </td>
                    <td>
                      <span>{{ doc.ExpirationDate }}</span>
                    </td>
                    <td>
                      <span>{{ doc.status }}</span>
                    </td>

                    <td>
                      <div class="btn-group" dropdown>
                        <button
                          id="button-state-change"
                          dropdownToggle
                          type="button"
                          class="toogle dropdownToggle"
                          aria-controls="dropdown-state-change"
                        ></button>
                        <ul
                          id="dropdown-state-change"
                          *dropdownMenu
                          class="dropdown-menu"
                          role="menu"
                          aria-labelledby="button-state-change"
                        >
                          <li role="menuitem">
                            <a
                              class="dropdown-item"
                              (click)="
                                cambiarEstado(habilidade.id, doc.id_demo)
                              "
                              >Request</a
                            >
                          </li>
                        </ul>
                      </div>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </tab>
      <tab heading="Document settings">
        <div>
          <div class="head">
            <div class="titulo1">Search for a Carrier Document</div>
            <div class="titulo2">
              <a (click)="agregarDocuments()"
                >Add Document<img
                  src="assets/img/add.jpg"
                  alt="image"
                  width="16px"
                  height="16px"
                />
              </a>
            </div>
          </div>

          <div class="busqueda">
            <nav class="navbar2">
              <form class="form-inline">
                <input
                  class="form-control4"
                  type="text"
                  placeholder="Carrier name, DOT number"
                  aria-label="Search"
                  (input)="buscarDms($event)"
                />
              </form>
            </nav>
            <div>
              <a class="busqueda1"
                >Search
                <img
                  src="assets/img/buscar.jpg"
                  alt="image"
                  width="12px"
                  height="12px"
              /></a>
            </div>
            <div>
              <a class="busqueda2"
                >Remove Filters
                <img
                  src="assets/img/deletedos.svg"
                  alt="image"
                  width="15px"
                  height="16px"
                />
              </a>
            </div>
          </div>

          <div class="gestorTabla">
            <table class="gestorDms">
              <thead>
                <tr>
                  <th>Document Name</th>
                  <th>Provider Type</th>
                  <th>Actions</th>
                </tr>
              </thead>

              <tr
                *ngFor="
                  let documentos of copiDms
                    | paginate: { itemsPerPage: 4, currentPage: e };
                  let p = index
                "
              >
                <td>
                  <span *ngIf="!isEditado[p]"
                    >{{ documentos.documentName }}
                  </span>
                  <input
                    type="text"
                    *ngIf="isEditado[p]"
                    (blur)="editDocuments()"
                    [(ngModel)]="documentos.documentName"
                    [value]="documentos.documentName"
                    class="form-control"
                  />
                </td>
                <td>
                  <div>
                    <span *ngIf="!isEditado[p]"
                      >{{ documentos.providerType }}
                    </span>
                  </div>
                  <input
                    type="text"
                    *ngIf="isEditado[p]"
                    (blur)="editDocuments()"
                    [(ngModel)]="documentos.providerType"
                    [value]="documentos.providerType"
                    class="form-control"
                  />
                </td>

                <td>
                  <div class="organizar">
                    <div (click)="editDocuments(p)" class="organizarEditar">
                      Edit<img
                        src="assets/img/editar.svg"
                        alt="image"
                        width="20px"
                        height="17px"
                      />
                    </div>
                    <div>
                      <ui-switch size="small" [(ngModel)]="documentos.value">
                      </ui-switch>
                    </div>
                  </div>
                </td>
              </tr>
            </table>
          </div>

          <div class="pagina">
            <pagination-controls
              (pageChange)="handlePageChange($event)"
            ></pagination-controls>
          </div>
        </div>
      </tab>
    </tabset>
  </div>
</div>
