<div class="modal-header">
  <h4 class="modal-title pull-left">{{title}}</h4>
  <button
    type="button"
    class="close pull-right"
    aria-label="Close"
    (click)="bsModalRef.hide()"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="forma">
    <div class="form-group">
      <label for="formGroupExampleInput">Name</label>
      <input
        type="text"
        class="form-control"
        formControlName="name"
        placeholder="Name"
      />
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput2">Descripcion</label>
      <input
        type="text"
        class="form-control"
        formControlName="descripcion"
        placeholder="Descripcion"
      />
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="agregarGrupos()">
    Agregar
  </button>
  <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">
    {{closeBtnName}}
  </button>
</div>
