<div class="frente">
  <nav class="navbar">
    <div class="titulo">
      <a>Settings</a>
    </div>
    <button class="boto" type="button">
      Test<a
        ><img src="assets/img/pi.PNG" alt="image" width="16px" height="16px" />
      </a>
    </button>
  </nav>
</div>

<div class="container">
  <div class="Cabecera">
    <div class="titulos">Custom FMCSA Alert Settings</div>
  </div>

  <div class="head">
    <div class="titulo1">FMCSA Operating Authority & Insurance Settings</div>
    <div class="titulo2">
      <a class="signoExclamacion"
        ><img
          src="assets/img/exclamacion.png"
          alt="image"
          width="16px"
          height="16px"
        />
      </a>
      <a>Learn more</a>
    </div>
  </div>
</div>
