
.container-fluid{
    margin: 0; 
    padding: 0;
    width: 100%;
    height: 1000px;
    background-color: whitesmoke;
}

.menu-box{
    
   
    float: left;
    width: 45px;
    background-color:darkblue;
    height: 1000px;
      
}
