.container-fluid {
  margin: 0;
  padding: 0;
  width: 100%;
<<<<<<< HEAD
  height: 1000px;
=======
  height: 1426px;
>>>>>>> 5ed27f6... version 5
  background-color: whitesmoke;
}

.menu-box {
  float: left;
  width: 45px;
  background-color: darkblue;
<<<<<<< HEAD
  height: 1000px;
}
=======
  height: 1425px;
}

>>>>>>> 5ed27f6... version 5
