.dash {
  display: flex;
  justify-content: center;
}

.iconoDash {
  width: 35px;
  height: 47px;
  filter: invert(100%) sepia(0%) saturate(7484%) hue-rotate(224deg)
    brightness(101%) contrast(101%);
}

.iconoHelp {
  filter: invert(100%) sepia(0%) saturate(7484%) hue-rotate(224deg)
    brightness(101%) contrast(101%);
}

.tipo1 {
  font-size: 8px;
  color: white;
  font-weight: 500;
}

.gestor {
  display: flex;
  flex-direction: column;
}

.menu1 {
  padding: 0;
}

.centro1 {
  padding-top: 200px;
}

.centro2 {
  padding-top: 57px;
}

/*selector*/
.menu1 > li {
  text-align: center;
  cursor: pointer;
}
