<a
  routerLink="/inicios"
  routerLinkActive="active"
  [routerLinkActiveOptions]="{ exact: true }"
  ><div class="dash">
    <img
      src="assets/img/circulo.svg"
      alt="image"
      width="35px"
      height="47px"
    /></div
></a>

<div class="gestor">
  <div class="centro1">
    <ul class="menu1">
      <li>
        <a routerLink="/dashboard" routerLinkActive="active">
          <img src="assets/img/app.svg" alt="image" width="20px" />
          <div class="tipo1">Dashboard</div></a
        >
      </li>
      <li>
        <a routerLink="/reports" routerLinkActive="active">
          <img src="assets/img/report.svg" alt="image" width="20px" />
          <div class="tipo1">Reports</div></a
        >
      </li>
      <li>
        <a routerLink="/carriers" routerLinkActive="active">
          <img src="assets/img/car.svg" alt="image" width="20px" />
          <div class="tipo1">My Carriers</div></a
        >
      </li>
      <li>
        <a routerLink="/groups" routerLinkActive="active">
          <img src="assets/img/gro.svg" alt="image" width="20px" />
          <div class="tipo1">My Groups</div></a
        >
      </li>
      <li>
        <a routerLink="/prospect" routerLinkActive="active">
          <img src="assets/img/bus.svg" alt="image" width="20px" />
          <div class="tipo1">Prospect</div></a
        >
      </li>
    </ul>
  </div>

  <div class="centro2">
    <ul class="menu1">
      <li>
        <a routerLink="/Dms" routerLinkActive="active">
          <img src="assets/img/mes.svg" alt="image" width="20px" />
          <div class="tipo1">DMS</div></a
        >
      </li>
      <li>
        <a routerLink="/Messaging" routerLinkActive="active">
          <img src="assets/img/chat.svg" alt="image" width="20px" />
          <div class="tipo1">Messaging</div></a
        >
      </li>
      <li>
        <a routerLink="/Settings" routerLinkActive="active">
          <img src="assets/img/set.svg" alt="image" width="20px" />
          <div class="tipo1">Settings</div></a
        >
      </li>
      <li>
        <a routerLink="/Support" routerLinkActive="active">
          <img src="assets/img/help.svg" alt="image" width="20px" />
          <div class="tipo1">Support</div></a
        >
      </li>
    </ul>
  </div>
</div>
